.main-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav{
    background-color: #0f2366;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-left:30px;
    border-radius: 10px;
}

.nav button{
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 12px;
}


/* content */

.content{
    height: 90%;
    border-radius: 10px;
}