.main-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav{
    background-color: #0f23666b;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-left:30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.nav button{
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid rgb(19, 19, 19);
    transition: all 0.3s ease-in-out;
    
}

.nav button:hover {
  transform: scale(1.05);
    box-shadow: 1px 1px 13px -4px #ffffff81;
    background-color: #0f2366;
    color: white;
}



/* content */

.content{
    height: 90%;
    border-radius: 10px;
}



/* responseive */

@media (max-width:1500px){

    .nav{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-left:30px;
}

.nav button{
    font-size: 0.9rem;
    height:40px;
    padding: 10px;
}

}