* {
    margin: 0;
    padding: 0;
}

.container-general{
    height: 100%;
}

.search-bar{
    height: 8%;
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 50%;
    margin-left: 20px;
    padding: 10px;
}

/* tabla */
.table{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding: 0 10px;
}

th{
    background-color: #0F2366;
    color: white;
    font-weight: 400;
    align-self: center;
    text-align: center;
}


td{
    text-align: center;
    vertical-align:middle;
}

tbody button{
    outline: none;
    border: none;
    background-color: #0F2366;
    color: white;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 50px;
    width: 100px;
}

/* responseive */

@media (max-width:1500px){

mat-form-field{
    height: 15px;
    padding-top:0;
    margin: 0;
    width:300px;
}

}
