*{
    margin: 0;
    padding: 0;
    display: block;
}
.search{
    display: flex;
    height:10%;
    gap: 20px;
}

mat-form-field{
    height: 20px;
    width:300px;
}

.search button{
   outline: none;
   border: none;
   height:100%;
   width:55px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: none;
   transition: all 0.3s ease-in-out;
   border:1px solid rgba(0, 0, 0, 0.486);
   color: rgba(0, 0, 0, 0.486) ;
   border-radius: 30px;
}

.search button:hover{
background-color: #FFC611;
   color: white;
    transform: scale(1.05);
       border:1px solid rgb(0, 0, 0);
}


/* tabla */
.table{
    height:90%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

/* responseive */

@media (max-width:1500px){

mat-form-field{
    height: 15px;
    padding-top:0;
    margin: 0;
    width:300px;
}

}