.all-content {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}

/* Contenido principal */
.main {
  flex-grow: 1; /* Permite que el contenido principal ocupe el espacio vertical restante */
  background: #f8f8f8;
  overflow-y: auto;
  width: 100%; 
}

/* Área de contenido principal */
.content-area {
  flex-grow: 1; /* Permite que el área de contenido ocupe el espacio restante */
  display: flex;
  flex-direction: column; 
  position: relative; 
}

/* Barra lateral */
.side-nav {
  width: 15%; /* Default width for side-nav */
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1000;
  border-radius: 0;
}

.mat-icon{
  color: white;
}

/* Logo */
.logo-nav {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  text-align: center;
}

.logo-nav img {
  width: 120px;
}

.logo-nav h3 {
  padding-top: 10px;
  font-size: 1.5rem;
}

.logo-nav span {
  font-size: 0.9rem;
  color: #333;
}

/* Opciones del menú */
.opciones {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.opciones button {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 1rem;
  background-color: #0F2366; /* Fondo predeterminado */
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.opciones button span {
  position: relative; 
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.opciones button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 500%;
  width: 150%;
  background: #78c7d2; /* Fondo predeterminado al pasar el ratón */
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.opciones button:hover:after,
.opciones button.active:after { /* Aplica estado activo */
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.opciones button.active {
  transform: scale(1.09); /* Mantiene la escala para el estado activo */
}

/* Colores de fondo específicos para los botones */
.opciones button:nth-child(1):after {
  background: #3454bd;
}
.opciones button:nth-child(2):after {
  background: #225f75;
}
.opciones button:nth-child(3):after {
    background: #225f75;
}
.opciones button:nth-child(4):after {
      
    background: #483286;

}
.opciones button:nth-child(5):after {
    background: #483286;
}


.salir {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.salir button {
  width: 50%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #ffc611;
  color: #ffffff;
  box-shadow: 1px 1px 13px -4px #ffc400;
  transition: all 0.3s ease-in-out;
}

.salir button:hover {
  background-color: rgba(255, 0, 0, 0.473);
  box-shadow: 1px 1px 13px -4px #ffc401ad;
  transform: scale(1.05);
}

/* Contenido principal */
.main {
  flex-grow: 1; /* Permite que el contenido principal ocupe el espacio vertical restante */
  background: #f8f8f8;
  overflow-y: auto; /* Changed to auto to allow scrolling if content overflows */
}

/* ----------- Adaptable ----------- */

/* Adaptable para pantallas <= 1500px */
@media (max-width: 1500px) {
  .side-nav {
    width: 25%; /* Ajusta el ancho de la barra lateral */
  }

  .logo-nav img {
    width: 100px; /* Logo ligeramente más pequeño */
  }

  .logo-nav h3 {
    font-size: 1.3rem; /* Título ligeramente más pequeño */
  }

  .opciones button {
    width: 80%; /* Ajusta el ancho del botón */
    padding: 8px; /* Ajusta el relleno */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
  }
}
