<div class="contenido">
  <!-- Toggle Button (visible on small screens) -->
  <button class="menu-toggle" mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Sidebar -->
  <nav class="side-nav" [class.closed]="menuClosed">
    <!-- Logo -->
    <div class="logo-nav">
      <img src="assets/logo-notext.png" alt="Login Image" />
      <h3>SmartClass Manager</h3>
      <span>Usuario</span>
    </div>

    <!-- Menu Options -->
    <div class="opciones">
      <button routerLink="/home/administracion"><mat-icon>assignment</mat-icon>Administracion</button>
      <button routerLink="#"><mat-icon>calendar_month</mat-icon>Horarios</button>
      <button routerLink="/home/profile"><mat-icon>analytics</mat-icon>Mi Informacion</button>
      <button routerLink="/home/estudiantes">
        <mat-icon>school</mat-icon>Estudiantes
      </button>
      <button routerLink="#"><mat-icon>work</mat-icon>Docentes</button>
    </div>

    <!-- Exit -->
    <div class="salir">
      <button routerLink="/login">Salir</button>
    </div>
  </nav>

  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
