<div class="all-content">
  <div class="side-nav">

    <!-- Logo de la barra lateral -->
    <div class="logo-nav">
      <img src="assets/logo-notext.png" alt="Imagen de inicio de sesión" />
      <h3>SmartClass Manager</h3>
      <span>{{username}}</span>
    </div>

    <!-- Opciones del menú -->
    <div class="opciones">

      @if (showAdminButton) {
      <button routerLink="/home/administracion"[class.active]="isRouteActive('/home/administracion')"><span><mat-icon>assignment</mat-icon>Administracion</span></button>
      }
        @if (showAdminButton) {
      <button routerLink="/home/administracion/schedule"[class.active]="isRouteActive('/home/administracion/schedule')"><span><mat-icon>analytics</mat-icon>Horarios</span></button>
      }

      <button routerLink="/home/profile"[class.active]="isRouteActive('/home/profile')"><span><mat-icon>analytics</mat-icon>Mi Informacion</span></button>
      <button routerLink="/home/estudiantes" [class.active]="isRouteActive('/home/estudiantes')"><span><mat-icon>school</mat-icon>Estudiantes</span></button>
      <button routerLink="#"[class.active]="isRouteActive('/home/docentes')"><span><mat-icon>work</mat-icon>Docentes</span></button>
    </div>

    <!-- Botón de salir -->
    <div class="salir">
      <button (click)="logout()">Salir</button>
    </div>

  </div>

  <!-- Contenido principal -->
  <div class="content-area">
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
