<div class="contenido">

  <!-- Sidebar -->
  <nav class="side-nav">
    <!-- Logo -->
    <div class="logo-nav">
      <img src="assets/logo-notext.png" alt="Login Image" />
      <h3>SmartClass Manager</h3>
<span>{{username}}</span>
    </div>

    <!-- Menu Options -->
    <div class="opciones">
      <button routerLink="/home/administracion" [class.active]="isRouteActive('/home/administracion')"><span><mat-icon>assignment</mat-icon>Administracion</span></button>
      <button routerLink="#" [class.active]="isRouteActive('/home/horarios')"><span><mat-icon>calendar_month</mat-icon>Horarios</span></button>
      <button routerLink="/home/profile" [class.active]="isRouteActive('/home/profile')"><span><mat-icon>analytics</mat-icon>Mi Informacion</span></button>
      <button routerLink="/home/estudiantes" [class.active]="isRouteActive('/home/estudiantes')">
        <span><mat-icon>school</mat-icon>Estudiantes</span>
      </button>
      <button routerLink="#" [class.active]="isRouteActive('/home/docentes')"><span><mat-icon>work</mat-icon>Docentes</span></button>
    </div>

    <!-- Exit -->
    <div class="salir">
      <button (click)="logout()" >Salir</button>
    </div>
  </nav>

  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
