<div class="container-general">
<div class="nav-bar">
  <!-- Dropdown para buscar horarios por día. -->
  <select [(ngModel)]="searchTerm" (change)="searchSchedules()">
    <option value="">Todos los días</option>
    @for (day of distinctDays; track day) {
      <option [value]="day">{{ day }}</option>
    }
  </select>
  <!-- Botón para mostrar u ocultar la tabla de horarios. -->
  <button class="" (click)="showAllSchedules()">Mostrar Horarios</button>
  <!-- Botón para abrir el modal de creación de horarios. -->
  <button class="" (click)="openCreateScheduleModal()">Agregar Horario</button>
</div>

<!-- Contenedor de la tabla de horarios. -->
<div class="table-container">
  <!-- Mensaje de error. -->
  @if (erroMSG) {
  <div class="error-message">{{ erroMSG }}</div>
  }

  <!-- Tabla de Horarios. -->
  @if (isScheduleTableVisible) {
    <table class="table table-hover table-borderless ">
      <thead>
        <tr>
          <th scope="col">Días</th>
          <th scope="col">Horario</th>
          <th scope="col">Horario en uso</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (s of filteredSchedules | slice:(page-1)*pageSize : (page-1)*pageSize + pageSize; track s.scheduleId) {
          <tr>
            <td scope="row">{{ s.days }}</td>
            <td scope="row">{{ s.schedule }}</td>
            <td scope="row">{{ s.available ? 'NO' : 'SI' }}</td>
            <td scope="row">
              <!-- Los botones de Editar y Eliminar se deshabilitan si el horario está en uso. -->
              <button class="btn btn-info" (click)="editSchedule(s.scheduleId, s.available)" [disabled]="!s.available">Editar</button>
              <button class="btn btn-danger" (click)="deleteSchedule(s.scheduleId, s.available)" [disabled]="!s.available">Eliminar</button>
              <button class="btn btn-primary" (click)="viewScheduleDetails(s.scheduleId)">Ver Datos</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- Componente de paginación. -->
    <div class="d-flex justify-content-center mt-3">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredSchedules.length" [rotate]="true"
        [ellipses]="true">
      </ngb-pagination>
    </div>
  } @else if (!isLoading && !erroMSG) {
  }
</div>


<!-- Indicador de carga. -->
@if (isLoading && !erroMSG) {
  <div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <span>Cargando</span>
  </div>
} @else if (!isLoading && schedules.length === 0 && !erroMSG && isScheduleTableVisible) {
  <div>No hay horarios para mostrar.</div>
}
