/* schedule.css */
* {
    margin: 0;
    padding: 0;
}

.container-general{
    height: 97%;
}

.nav-bar{
    height: 8%;
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.nav-bar input,button{
    width: 30%;
    height: 50px;
    margin-left: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.nav-bar input:focus{
    border:#4edaab solid 1px;
}

.nav-bar button{
    width:10%;
    background-color: white;
    transition: all 0.3s ease-in-out;

}

.nav-bar button:hover {
  transform: scale(1.05);
    background-color:#4edaab;
}

/* tabla */
.table-container {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.table {
    padding: 0 10px; /* Re-added padding to the actual table element */
    font-size: 0.95rem;
}

th{
    background-color:#0F2366;
    color: white;
    font-weight: 400;
    align-self: center;
    text-align: center;
}


td{
    text-align: center;
    vertical-align:middle;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody button{
    outline: none;
    border: none;
    background-color: #2f323a;
    color: white;
    padding: 0;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 50px;
    width: 100px;
    transition: all 0.2s ease-in;
}

tbody button:hover{
    background-color: #3aad87;
}


/* responsive */

@media (max-width:1500px){

mat-form-field{
    height: 15px;
    padding-top:0;
    margin: 0;
    width:300px;
}

}






/* pantalla de carga */

.wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #000000;
    left:15%;
}
