

.main-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: rgba(236, 236, 236, 0.336);
}

.nav{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left:30px;
    background-color: #ffffff;
}


.nav h1{
    color: rgb(44, 44, 44);
    font-size: 1.5rem;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 20px;
}

.nav button{
    font-size: 1rem;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height:40px;
    padding: 5px 30px;
    border: 1px solid rgb(148, 148, 148);
    transition: all 0.3s ease-in-out;
    
}

.nav button:hover {
  transform: scale(1.05);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



/* content */

.content{
    height: 90%;
    border-radius: 10px;
}



/* responseive */

@media (max-width:1500px){

    .nav{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-left:30px;
}

.nav button{
    font-size: 0.9rem;
    height:40px;
    padding: 10px;
}

}
