.main-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

.nav{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left:30px;
    background-color: #222222;
}


.nav h1{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 20px;
}




/* content */

.content{
    height: 90%;
    border-radius: 10px;
}



/* responsive */

@media (max-width:1500px){

    .nav{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-left:30px;
}

.nav button{
    font-size: 0.9rem;
    height:40px;
    padding: 10px;
}

}


/* buttons */
.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #101b7a, #000000, #101b7a, #000000, #101b7a, #000000, #101b7a, #101b7a, #000000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(1px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover{
      transform:scale(1.05);
}

.glow-on-hover:active:after {
    background: white;
}

.glow-on-hover:hover:before {
    opacity: 1;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
