<!-- assigned-schedule-details.html -->
<div class="container-general">
  <div class="header-bar">
    <h2>Detalles de Asignación de Horario</h2>
  </div>

  <div class="content-area">
    @if (isLoading) {
      <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Cargando</span>
      </div>
    } @else if (erroMSG) {
      <div class="error-message">{{ erroMSG }}</div>
    } @else if (assignedSubjects.length === 0) {
      <div>No hay materias asignadas para este horario.</div>
    } @else {
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Materia</th>
            <th scope="col">Docente</th>
            <th scope="col">Período</th>
            <th scope="col">Aula</th>
            <th scope="col">Espacio Disponible</th>
          </tr>
        </thead>
        <tbody>
          @for (assignedSubject of assignedSubjects; track assignedSubject.subjectAssignedId) {
            <tr>
              <td>{{ assignedSubject.subjectName }} ({{ assignedSubject.subjectCode }})</td>
              <td>{{ assignedSubject.teacherName }} ({{ assignedSubject.teacherCode }})</td>
              <td>{{ assignedSubject.periodName }}</td>
              <td>{{ assignedSubject.classroomName }} ({{ assignedSubject.building }} - {{ assignedSubject.section }})</td>
              <td>{{ assignedSubject.availableSpace }} / {{ assignedSubject.maximumCapacity }}</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>
