<div class="container-general">

    <!-- Barra de búsqueda y botones de acción -->
  <div class="nav-bar">
    <input type="text" class="" placeholder="Nombre o código de materia" [(ngModel)]="searchTerm"/>
    <button class="" (click)="searchSubjects()">Buscar</button>
    <button class="" (click)="showAllSubjects()">Mostrar Todos</button>
    <button class="" (click)="openCreateSubjectModal()">Agregar Materia</button>
  </div>

  <div class="table-container">
    @if (erroMSG) {
    <div class="error-message">{{ erroMSG }}</div>
    }

    @if (showTable) {
      <table class="table table-hover table-borderless ">
        <thead>
          <tr>
            <th scope="col" sortable="subjectCode">Código</th>
            <th scope="col" sortable="name">Nombre de Materia</th>
            <th scope="col" sortable="careerName">Carrera</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          @for (s of filteredSubjects | slice:(page-1)*pageSize : (page-1)*pageSize + pageSize; track s.subjectId) {
            <tr>
              <td scope="row">{{ s.subjectCode }}</td>
              <td scope="row">{{ s.name }}</td>
              <td scope="row">{{ s.careerName }}</td>
              <td scope="row">
                <button class="btn btn-danger" (click)="deleteSubject(s.subjectId)">Eliminar Materia</button>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <div class="d-flex justify-content-center mt-3">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredSubjects.length" [rotate]="true"
          [ellipses]="true">
        </ngb-pagination>
      </div>
    } @else if (!isLoading && !erroMSG) {

    }
  </div>


  @if (isLoading && !erroMSG) {
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <span>Cargando</span>
    </div>
  } @else if (!isLoading && subjects.length === 0 && !erroMSG && showTable) {
    <div>No hay materias para mostrar.</div>
  }


</div>
