<div id="all-container" class="header finisher-header">

    <div class="login-container">
        <div class="login-wrapper1">
            <div class="img">
                <img src="assets/logo-notext.png" alt="Login Image">
            </div>
            <div>
                <h3>SmartClass Manager</h3>
            </div>
        </div>

        <div class="login-wrapper2">

            <div class="title">
                <h1>Iniciar sesion</h1>
            </div>

            <div class="sub-title">
                <h2>Bienvenido al nuestro sistema administracion</h2>
            </div>

            <div class="login-form" [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                    <mat-label>usuario</mat-label>
                    <input matInput formControlName="username" density="-1">
                </mat-form-field>

                <mat-form-field  class="password" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <!-- formControlName nos permite vincular este componete con lo definido en el html y el ts -->
                    <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" density="-1">

                    <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()"
                        style="background:none; color: black; margin: 0; padding:0;margin-right: 20px;"
                        >
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <!--acciones-->
                <mat-card-actions class="align-end">

                    <!-- Modals are now separate components -->

                    <input type="checkbox"> <label for="">recordar</label>

                    <button mat-raised-button class="btn btn-lg btn-outline-primary" (click)="login()">Ingresar</button>

                </mat-card-actions>
            </div>

        </div>
    </div>
