#all-container{
  width: 100%;
  height:100vb;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-img{
  object-fit:cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}



.login-container {
width:50%;
height:70%;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
border-radius: 10px;
margin: 0 auto;
box-sizing: border-box;
display: flex;
border: 1px solid gray  ;
backdrop-filter: blur(20px);
}

.login-container .login-wrapper1 {
    width: 40%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    backdrop-filter: blur(20px);
}

.login-container .login-wrapper2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper2 h1 {
 margin-top: 25%;
 font-size: 1.9rem;
}
.login-wrapper2 h2 {
 margin-top: 5%;
 font-size: 0.8rem;
 color: #232326;
}
.login-form {
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form label {
    font-size: 0.8rem;
    color: #232326;
    margin-left: 5px;
}

.login-form button {
    padding:  25px;
    width: 100%;
    border-radius: 10px;
    background-color: #0F2466;
    color: white  ;
    font-size: 0.8rem;
}
.login-form button:hover {
    background-color: #1B3FB6;
    cursor: pointer;    
    
}


mat-divider {
    width: 80%;
    margin-top: 10%;
}

.register-link {
    margin-top: 5%;
    font-size: 0.8rem;
    color: #232326;
    display: flex;
    margin-bottom: 10%;
}

.register-link a {
    color: #0F2466;
    text-decoration: none;
    margin-left: 10px;
}


/* modal */

.modal-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-body p{
  margin: 0;
}

/* logo */

.login-wrapper1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f2366;
}

.login-wrapper1 .img{
    background-color: white;
    border-radius: 10px;
}
.login-wrapper1 img {
    width:120px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    z-index: 10;
}
.login-wrapper1 h3 {
    color: white;
    margin-top: 20px;
    font-size: 1.5rem;
}

/*  */


/* responsive */

@media (max-width: 1400px) {
  .login-container {
    width: 50%;
    height:80%;
    gap:0;
  }

  .login-form{
    margin: 10%;
  }

  .login-wrapper2 h1 {
    font-size: 1.6rem;
    margin-top: 20%;
  }

  .login-wrapper2 h2 {
    font-size: 0.9rem;
  }

  .login-form {
    width: 85%;
  }

  mat-divider{
    margin: 0;
  }
}
