<div id="all-container" class="header finisher-header">

    <div class="login-container">
        <div class="login-wrapper1">
            <div class="img">
                <img src="assets/logo-notext.png" alt="Login Image">
            </div>
            <div>
                <h3>SmartClass Manager</h3>
            </div>
        </div>

        <div class="login-wrapper2">

            <div class="title">
                <h1>Iniciar sesion</h1>
            </div>

            <div class="sub-title">
                <h2>Bienvenido al nuestro sistema administracion</h2>
            </div>

            <div class="login-form" [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                    <mat-label>usuario</mat-label>
                    <input matInput formControlName="username" density="-1">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <!-- formControlName nos permite vincular este componete con lo definido en el html y el ts -->
                    <input  matInput type="password" formControlName="password" density="-1">
                </mat-form-field>

                <!--acciones-->
                <mat-card-actions class="align-end">

                    <!-- Modal approvado -->
                    <ng-template #successModal let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">Inicio de Sesión Exitoso</h4>
                            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <p>¡Bienvenido! Has iniciado sesión correctamente.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" (click)="c('confirm')">Continuar</button>
                        </div>
                    </ng-template>
                    <!-- Error Modal -->
                    <ng-template #errorModal let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title text-danger">Error de Inicio de Sesión</h4>
                            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{ errorMessage }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Cerrar</button>
                        </div>
                    </ng-template>

                    <!-- fin modales -->

                    <input type="checkbox"> <label for="">recordar</label>

                    <button mat-raised-button class="btn btn-lg btn-outline-primary" (click)="login()">Ingresar</button>

                </mat-card-actions>
        </div>

    </div>
</div>
