/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* modales styles*/
.modal-header {
  background-color: #0F2366;
  color: white;
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header button {
  color: white;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-content1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.modal-body p {
  margin: 0;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
