<div class="modal-header">
  <h4 >{{ title }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="day"  >Día:</label>
      <input type="text" class="form-control" id="day" [(ngModel)]="dayInput" name="day" placeholder="dia_dia" required>
    </div>
    <div class="mb-3">
      <label for="startHour" >Hora de Inicio:</label>
      <div class="d-flex">
        <select class="form-select me-2" id="startHour" [(ngModel)]="startHourInput" name="startHour" required>
          <option value="" disabled>Hora</option>
          @for (hour of hours; track hour) {
            <option [value]="hour">{{ hour }}</option>
          }
        </select>
        <select class="form-select" id="startMinute" [(ngModel)]="startMinuteInput" name="startMinute" required>
          <option value="" disabled>Minuto</option>
          @for (minute of minutes; track minute) {
            <option [value]="minute">{{ minute }}</option>
          }
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="endHour" class="form-label">Hora de Fin:</label>
      <div class="d-flex">
        <select class="form-select me-2" id="endHour" [(ngModel)]="endHourInput" name="endHour" required [disabled]="!startHourInput || !startMinuteInput">
          <option value="" disabled>Hora</option>
          @for (hour of hours; track hour) {
            <option [value]="hour">{{ hour }}</option>
          }
        </select>
        <select class="form-select" id="endMinute" [(ngModel)]="endMinuteInput" name="endMinute" required [disabled]="!startHourInput || !startMinuteInput">
          <option value="" disabled>Minuto</option>
          @for (minute of minutes; track minute) {
            <option [value]="minute">{{ minute }}</option>
          }
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="saveSchedule()">Guardar</button>
</div>
